<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    <h1>Task Manager</h1>
    <form action="/add", method="post">
        <div>


            <label for="title">Task Name</label>
            <input type="text" name = "name" placeholder="Enter Task...">

            <br>
            <button type="submit">add</button>


        </div>


    </form>

    {% for task in task_list %}

        <p>{{ task.id }} | {{ task.name }}</p>

        {% if task.complete == False %}

            <span>Incomplete</span>

        {% else %}

            <span>Complete!</span>



        {% endif %}

        <a href="/dashboard">Update</a>
        <a href="/dashboard">Delete</a>

    {% endfor %}
    <br>
    <a href="{{url_for('logout')}}">logout</a>

    
</body>
</html>